{% for room in rooms %}
{% load static %}
<div class="roomListRoom">
    <div class="roomListRoom__header__container">
        {% if room.host %}
        <div class="roomListRoom__header">
            <a href="{% url 'schoolweb:user-profile' room.host.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small active">
                    <img src="{{room.host.avatar.url}}"/>
                </div>
                <div class="roomListRoom__details">
                    <span title="Zobacz profil" class="username">@{{room.host.username}}</span>
                    <div class="roomListRoom__actions">
                        <span>{{room.created|timesince}} temu</span>
                    </div>
                </div>
            </a>
            <div class="roomListRoom__topic-container">
                <p class="roomListRoom__topic">{{ room.topic.name }}</p>
                {% if request.user.is_authenticated and request.user == room.host %}
                <span class="roomListRoom__points">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill='gold' class="star-icon">
                        <path d="M12 .587l3.668 7.568L24 9.764l-6 5.847L19.336 24 12 19.941 4.664 24 6 15.611 0 9.764l8.332-1.609L12 .587z"/>
                    </svg>
                    +10 pkt.
                </span>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="roomListRoom__author-container">
            <div class="roomListRoom__author">
                <div class="avatar avatar--small active">
                    <img src="{% static 'img/profile-pictures/avatar.svg' %}" alt="Zdjęcie posta"/>
                </div>
                <span>Użytkownik usunięty</span>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="roomListRoom__content">
        <a href="{% url 'schoolweb:room' room.id %}" title="Zobacz post">{{room.name}}</a>
        <p>{{ room.description|truncatechars:150 }}</p>
        <br>
        {% if room.image %}
        <a href="{{ room.image.url }}" class="popup-image" target="_blank">
            <img src="{{ room.image.url }}" alt="Zdjęcie posta" title="Powiększ">
        </a>
        {% endif %}
    </div>

    <div class="participants-avatars">
        {% for participant in room.participants.all %}
            {% if forloop.counter <= 3 %}
            <div class="avatar avatar--participant">
                <img src="{{ participant.avatar.url }}" alt="{{ participant.username }}">
            </div>
            {% endif %}
        {% endfor %}
        {% if room.participants.all.count > 3 %}
            <span class="more-participants">+{{ room.participants.all.count|add:-3 }} użytkowników odpowiedziało</span>
        {% endif %}
    </div>

    <div class="comment-counters-container">
        <div class="comment-counter">
            <i class="fas fa-heart"></i>
            <div class="comment-info">
                {{ room.likes.all.count }} polubień
            </div>
        </div>
        <div class="comment-counter">
            <div class="comment-info">
                {{ room.message_set.count }} odpowiedzi
            </div>
        </div>
    </div>

    <div class="container">
        <div class="like-topic-container">
            <a href="{% url 'schoolweb:room' room.id %}" class="envelope-link">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Szczegóły
            </a>
        </div>
        <div class="like-topic-container">
            <a href="{% url 'schoolweb:room' room.id %}#comms" class="envelope-link">
                <i class="fa fa-envelope" aria-hidden="true"></i> Komentarze
            </a>
        </div>
        <div class="like-topic-container">
            <a href="{% url 'schoolweb:report-room' room.id %}" class="envelope-link">
                <i class="fa fa-flag" aria-hidden="true"></i> Zgłoś
            </a>
        </div>
    </div>
</div>
{% endfor %}
