{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
{% include 'knowledge-zone/nav-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="layout layout--3">
    <div class="container">
        {% include 'knowledge-zone/topics-knowledge-zone.html' %}

        <div class="roomList">
            <div class="mobile-menu">
                <form action="{% url 'schoolweb:knowledge_zone' %}" method="GET" class="header__search">
                    <label>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <title>Szukaj</title>
                            <path d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12
                            22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"></path>
                        </svg>
                        <input name="q" placeholder="Szukaj na SchoolWeb"/>
                    </label>
                    <button type="submit" class="mobile-submit">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>Wyszukaj</title>
                            <path d="M12 2l12 12-12 12-2-2 10-10-10-10z"></path>
                        </svg>
                    </button>
                </form>
                <div class="mobile-menuItems">
                    <a class="btn btn--main btn--pill" href="{% url 'schoolweb:topics' %}">Tematy</a>
                    <a class="btn btn--main btn--pill" href="{% url 'schoolweb:activity' %}">Aktywności</a>
                </div>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="notification notification--{{ message.tags }} show">
                        <span>{{ message }}</span>
                        <button class="notification__close">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="roomList__header">
                <div>
                    <h2>Tablica tematów</h2>
                    <p>Znalezione tematy: {{ room_count }}</p>
                </div>
                <a class="btn btn--main" href="{% url 'schoolweb:create-room' %}" title="Utwórz nowy post">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>Dodaj</title>
                        <path d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"></path>
                    </svg>
                    Utwórz post
                </a>
            </div>
            <form action="{% url 'schoolweb:knowledge_zone' %}" method="GET">
                <input type="hidden" name="q" value="{{ current_q }}">
                <select name="level" id="level" onchange="this.form.submit()" class="level-select">
                    <option value="">Wszystkie</option>
                    <option value="basic" {% if current_level == 'basic' %}selected{% endif %}>Podstawa</option>
                    <option value="advanced" {% if current_level == 'advanced' %}selected{% endif %}>Rozszerzenie</option>
                </select>
            </form>
            {% include 'knowledge-zone/feed-knowledge-zone.html' %}
        </div>
        {% include 'knowledge-zone/activity-knowledge-zone.html' %}
    </div>
</main>
{% endblock %}
