{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
  {% include 'knowledge-zone/nav-empty-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Sprawdź swoją skrzynkę mailową!</h3>
        </div>
      </div>
      <div class="layout__body">
        <p>Przesłaliśmy link resetujący hasło na podany adres. Sprawdź, czy wiadomość nie wylądowała w spamie.</p>
        <p>
          Jeśli nie otrzymałeś wiadomości, możesz spróbować wysłać link jeszcze raz
          lub skontaktować się z naszym wsparciem technicznym.
        </p>
        <div class="form__action">
          <a class="btn btn--link" href="{% url 'reset_password' %}">Wyślij ponownie</a>
          <a class="btn btn--link" href="{% url 'schoolweb:login' %}">Wróć do logowania</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
