{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
  {% include 'knowledge-zone/nav-empty-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Wprowadź swoje nowe hasło</h3>
        </div>
      </div>
      <div class="layout__body">
        <p>Proszę wypełnić poniższe pola, aby ustawić nowe hasło.</p>

        <form method="post" class="password-reset-form">
          {% csrf_token %}

          <div class="form__group">
            <label for="id_new_password1">Nowe hasło:</label>
            <input type="password" name="new_password1" id="id_new_password1" required placeholder="Nowe hasło">
            {% if form.new_password1.errors %}
              <div class="form__error">
                {% for error in form.new_password1.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form__group">
            <label for="id_new_password2">Potwierdź nowe hasło:</label>
            <input type="password" name="new_password2" id="id_new_password2" required placeholder="Potwierdź nowe hasło">
            {% if form.new_password2.errors %}
              <div class="form__error">
                {% for error in form.new_password2.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form__action">
            <a class="btn btn--link" href="{{ request.META.HTTP_REFERER }}">Anuluj</a>
            <button class="btn btn--link" type="submit">Zatwierdź</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
