{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
{% include 'knowledge-zone/nav-empty-knowledge-zone.html' %}
{% endblock navbar %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Nie pamiętasz hasła?</h3>
        </div>
      </div>
      <div class="layout__body">
        <p>Wprowadź poniżej swój adres e-mail, a my wyślemy Ci link do zresetowania hasła</p>
        <div class="form__group form__group">
          <form method="post" class="password-reset-form">
              {% csrf_token %}
              <div class="form__group">
                  <label for="id_email">E-mail</label>
                  <input type="email" name="email" id="id_email" placeholder="Wprowadź swój adres e-mail"
                         required autocomplete="email" class="form-control">
              </div>
              <div class="form__action">
                  <a class="btn btn--link" href="{{ request.META.HTTP_REFERER }}">Anuluj</a>
                  <button class="btn btn--link" type="submit">Przypomnij hasło</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
