{% extends 'base-knowledge-zone.html' %}

{% block navbar %}
{% include 'knowledge-zone/nav-no-search.html' %}
{% endblock navbar %}

{% block content %}
{% load static %}
<main class="create-room layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'schoolweb:knowledge_zone' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <title>Cofnij</title>
                            <path d="M13.723 2.286l-13.723 13.714 13.719 13.714
                            1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Kategorie tematów</h3>
                </div>
            </div>

            <div class="topics-page layout__body">
                <ul class="topics__list">
                    <li>
                        <a href="{% url 'schoolweb:knowledge_zone' %}" class="active">
                            <div>
                                <img src="{% static 'img/icons/19.svg' %}"/>
                                Wszystkie
                            </div>
                            <span>{{topics.count}}</span>
                        </a>
                    </li>
                    {% for topic in topics %}
                    <li>
                        <a href="{% url 'schoolweb:knowledge_zone' %}?q={{topic.name}}">
                            <div>
                                {% if topic.svg_icon %}
                                    <img src="{{ topic.svg_icon.url }}" alt="{{ topic.name }} icon" />
                                {% else %}
                                    <img src="{% static 'img/knowledge-zone/topic-icon.png' %}"/>
                                {% endif %}
                                {{topic.name}}
                            </div>
                            <span>{{topic.room_set.all.count}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
