{% load static %}
<div class="topics scroll">
    <div class="topics__header">
        <h2>Kategorie tematów</h2>
    </div>
    <ul class="topics__list">
        <li>
            <a href="{% url 'schoolweb:knowledge_zone' %}" class="topic-link {% if not request.GET.q %}active{% endif %}">
                <div>
                    <img src="{% static 'img/icons/19.svg' %}"/>
                    Wszystkie
                </div>
                <span>{{topics.count}}</span>
            </a>
        </li>
        {% for topic in topics %}
        <li>
            <a href="{% url 'schoolweb:knowledge_zone' %}?q={{topic.name}}" class="topic-link {% if request.GET.q == topic.name %}active{% endif %}">
                <div>
                    {% if topic.svg_icon %}
                        <img src="{{ topic.svg_icon.url }}" alt="{{ topic.name }} icon" />
                    {% else %}
                        <img src="{% static 'img/knowledge-zone/topic-icon.png' %}"/>
                    {% endif %}
                    {{topic.name}}
                </div>
                <span>{{topic.room_set.all.count}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn--link" href="{% url 'schoolweb:topics' %}">
        Zobacz więcej
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
        </svg>
    </a>
</div>
