{% extends 'base-widget.html' %}
{% load static %}
{% block content %}
<section class="hero hero-main">
    <h1 class="hero-heading">Twórz z nami <span>najlepszą platformę edukacyjną</span></h1>
    <div class="hero-container">
        <p class="hero-subtitle">
            <span>✔</span> Prywatne i grupowe zajęcia.
            <br><span>✔</span> Zdolni oraz zaangażowani korepetytorzy.
            <br><span>✔</span> Darmowe materiały edukacyjne.
            <br><span>✔</span> Szybki kontakt z administracją platformy.
            <br><span>✔</span> Kontakt z korepetytorami po godzinach.
            <br><span>✔</span> Dostęp do Forum Edukacyjnego.
            <br><br><br>
            <a href="{% url target_url %}" title="Umów pierwsze zajęcia" class="hvr-buzz-out">Umów pierwsze zajęcia</a>

        </p>
        <div class="hero-image">
            <img src="{% static 'img/widget/main-view-1.png' %}" alt="Twórz z nami najlepszą platformę edukacyjną SchoolWeb">
        </div>
    </div>
</section>

<section class="hero sub-hero">
    <div class="hero-container sub-hero-container">
            <div class="sub-hero-image">
                <img src="{% static 'img/widget/logo.png' %}" alt="O platformie SchoolWeb">
            </div>
        <div class="sub-hero-label">
            <h2 class="sub-hero-heading">O platformie <span>Schoolweb</span></h2>
            <p class="sub-hero-text right-side">
                SchoolWeb to wyjątkowa platforma edukacyjna, która zapewnia nie tylko
                <span>konkurencyjne cenowo lekcje</span>, lecz także szereg innych narzędzi. Nasza misja
                polega na dostarczaniu najwyższej jakości nauczania, dlatego każdy nasz korepetytor jest
                zaangażowany i posiada bogatą wiedzę oraz umiejętności. Platforma oferuje również rozbudowane
                narzędzia, które pomagają uczniom w ich nauce. Posiadamy <span>nowoczesne forum</span>, na którym możesz
                zadawać pytania i uzyskiwać odpowiedzi od innych użytkowników. To miejsce, w którym wzajemnie
                pomagamy sobie, dzieląc się wiedzą i doświadczeniem. Jesteśmy świadomi, że nauka nie kończy się o
                ustalonych godzinach zajęć. Dlatego oferujemy <span>wsparcie dla uczniów poza zajęciami</span>. Dla nas
                liczy się sukces ucznia na każdym etapie nauki. <span>Wybierając SchoolWeb masz pewność, że
                otrzymujesz najlepsze lekcje, doświadczonych korepetytorów i niezastąpione wsparcie edukacyjne</span>.
            </p>
        </div>
    </div>
</section>

<section class="hero sub-hero">
    <div class="hero-container sub-hero-container">
        <div class="sub-hero-label">
            <h2 class="sub-hero-heading">Nasi <span>korepetytorzy</span></h2>
            <p class="sub-hero-text left-side">
                Korepetytorzy SchoolWeb posiadają bogate doświadczenie w nauczaniu i są zaangażowani w sukces
                edukacyjny naszych uczniów. Dzięki indywidualnemu podejściu do każdego ucznia, nasi
                korepetytorzy potrafią <span>dostosować program nauczania do indywidualnych potrzeb i stylu
                nauki </span>. Są w stanie wyjaśnić trudne koncepcje w sposób klarowny i zrozumiały, co
                przyczynia się do osiągania znaczących postępów. Wszyscy nasi korepetytorzy są starannie
                wybierani i przeszli przez <span>rozbudowany proces selekcji</span>, aby zapewnić najwyższą
                jakość edukacji.
            </p>
            <a href="{% url target_url %}" class="hvr-buzz-out">Zostań korepetytorem</a>
        </div>
        <div class="sub-hero-image">
            <img src="{% static 'img/widget/main-view-2.png' %}" alt="Nasi korepetytorzy">
        </div>
    </div>
</section>

<section class="hero sub-hero">
    <div class="hero-container sub-hero-container">
        <div class="sub-hero-image">
            <img src="{% static 'img/widget/main-view-3.png' %}" alt="Zajęcia dla każdego">
        </div>
        <div class="sub-hero-label">
            <h2 class="sub-hero-heading">Zajęcia<span> dla każdego</span></h2>
            <p class="sub-hero-text right-side">
                Niezależnie od poziomu zaawansowania, wieku czy indywidualnych potrzeb, nasza platforma
                zapewnia różnorodne zajęcia, które są dostosowane do wymagań każdego ucznia. Wierzymy, że
                każdy uczeń ma unikalne umiejętności i styl nauki. Dlatego nasza platforma oferuje
                <span>zajęcia rozwijające oraz korygujące</span> dostarczając przy tym różnorodne materiały,
                ćwiczenia i metody nauczania, które pozwalają uczniom rozwijać się w sposób dostosowany do
                ich indywidualnych preferencji i potrzeb.
            </p>
        </div>
    </div>
</section>

<section class="hero sub-hero">
    <div class="hero-container sub-hero-container">
        <div class="sub-hero-label">
            <h2 class="sub-hero-heading">Początki bywają . . . <span>łatwe!</span></h2>
            <p class="sub-hero-text left-side">
                To właśnie na samym początku zaczynamy odkrywać nową dziedzinę, stawiamy pierwsze kroki
                i poznajemy jej tajniki. Choć może się wydawać trudne na pierwszy rzut oka, to właśnie
                w tych chwilach kryje się ogromna siła i potencjał do nauki. Nie bój się popełniać błędów,
                ponieważ to właśnie przez nie uczymy się najlepiej. Każde trudności to okazja do nauki,
                do poszerzania swoich horyzontów i przekraczania własnych ograniczeń. Pamiętaj, że na
                naszej platformie edukacyjnej masz do dyspozycji doświadczonych korepetytorów, którzy będą
                Cię wspierać na każdym etapie Twojej edukacji. Bądź ciekawy, podejmuj wyzwania i pozwól
                sobie na popełnianie błędów. Początki bywają łatwe, ale to właśnie od Ciebie zależy, jak
                daleko zajdziesz w swojej edukacji. <span>Pamiętaj, że masz ogromny potencjał i jesteśmy
                tutaj, aby Ci pomóc go odkryć i rozwijać.</span>
            </p>
        </div>
        <div class="sub-hero-image">
            <img src="{% static 'img/widget/main-view-4.png' %}" alt="Początki bywają łatwe">
        </div>
    </div>
</section>

<section class="hero sub-hero">
    <div class="hero-container sub-hero-container">
        <div class="sub-hero-image">
            <img src="{% static 'img/widget/logo.png' %}" alt="Odwiedź blog">
        </div>
        <div class="sub-hero-label">
            <h2 class="sub-hero-heading"><span>Blog</span> edukacyjny</h2>
            <p class="sub-hero-text right-side">
                Platforma SchoolWeb oferuje dodatkowo blog edukacyjny, który pełen jest cennych porad, inspiracji
                oraz nowinek ze świata nauki i korepetycji. <span>Znajdziesz tam artykuły o efektywnych metodach
                uczenia się, ciekawostki z różnych dziedzin, a także wskazówki, jak maksymalnie wykorzystać
                możliwości platformy</span>. Zachęcamy do regularnych odwiedzin – nasz blog to nie tylko dodatkowe źródło
                wiedzy, ale także miejsce, gdzie uczniowie, rodzice i nauczyciele mogą poszerzać swoje horyzonty.
            </p>
            <a href="{% url 'schoolweb:blog-post-list' %}" class="hvr-buzz-out">Odwiedź bloga</a>
        </div>
    </div>
</section>

<section id="jak-zaczac" class="hero sub-hero">
    <div class="hero-container sub-hero-container">
        <div class="sub-hero-label-list">
            <h2 class="sub-hero-heading"><span>Jak zacząć</span> . . . ?</h2>
            <ul class="hero-list">
                <li>Uzupełnij formularz oraz utwórz konto w "Strefie Korepetycji".</li>
                <li>Jak najszybciej to możliwe otrzymasz kontakt od administracji platformy, aby ustalić szczegóły.</li>
                <li>Dokonaj zakupu pakietu zajęć, aby móc w pełni korzystać z możliwości platformy.</li>
                <li>Umawiaj się na zajęcia z indywidualnie przydzielonym korepetytorem.</li>
                <li>Korzystaj bez ograniczeń ze wszystkich narzędzi na platformie SchoolWeb.</li>
            </ul>
        </div>
    </div>
</section>


<div class="pricing">
    <h2 class="sub-hero-heading"><span>Cennik</span> zajęć</h2>
    <div class="pricing-text-main">
        Rozwijanie swojej wiedzy i umiejętności to <span>inwestycja w przyszłość</span>. Nasz cennik został
        stworzony tak, aby zapewnić Ci jak najlepsze wartości edukacyjne i elastyczność w wyborze opcji, które
        najlepiej odpowiadają Twoim potrzebom. Na SchoolWeb możesz dostosować częstotliwość zajęć oraz ich terminy
        do własnych potrzeb. Dzięki <span>konkurencyjnym cenom</span> pojedynczych zajęć oraz pakietów, wysoce
        wykwalfikowanej kadrze korepetytorów oraz wielu rozmiatym funkcjom dostępnych na platformie jesteśmy w
        stanie zaoferować naszym użytkownikom współpracę na najwyższym poziomie.
        <br><br>
        <span><i>Jeśli uważasz, że żadna z opcji nie jest dla Ciebie odpowiednia skontaktuj się z nami w celu ustalenia
            indywidualnej formy edukacji.</i></span>
        <br><br>
    </div>

    <div id="ceny" class="pricing-title">
        <h3>Zajęcia indywidualne</h3>
    </div>

    <div class="pricing-table">
        <div class="pricing-plan">
            <h4>Poziom podstawowy</h4>
            <ul>
                <li><i class="fa fa-money"></i>Cena zajęć: <b>zł</b>.</li>
                <li><i class="fa fa-clock-o"></i>Czas trwania zajęć: <b>50 minut</b>.</li>
            </ul>
            <a onclick="openModal()">Kup teraz</a>
            <h5>Pakiety miesięczne</h5>
            <table class="table" border="1">
                <tr>
                    <th>Ilość zajęć</th>
                    <th>Cena</th>
                    <th>Rabat</th>
                    <th>Wybierz</th>
                </tr>
                <tr>
                    <td>4</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
            </table>
        </div>

        <div class="pricing-plan">
            <h4>Poziom rozszerzony</h4>
            <ul>
                <li><i class="fa fa-money"></i>Cena zajęć: <b>zł</b>.</li>
                <li><i class="fa fa-clock-o"></i>Czas trwania zajęć: <b>50 minut</b>.</li>
            </ul>
            <a onclick="openModal()">Kup teraz</a>
            <h5>Pakiety miesięczne</h5>
            <table class="table" border="1">
                <tr>
                    <th>Ilość zajęć</th>
                    <th>Cena</th>
                    <th>Rabat</th>
                    <th>Wybierz</th>
                </tr>
                <tr>
                    <td>4</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="pricing-title">
        <h3>Zajęcia grupowe</h3>
    </div>

    <div class="pricing-table">
        <div class="pricing-plan">
            <h4>Poziom podstawowy</h4>
            <ul>
                <li><i class="fa fa-money"></i>Cena zajęć: <b>zł</b>.</li>
                <li><i class="fa fa-clock-o"></i>Czas trwania zajęć: <b>50 minut</b>.</li>
            </ul>
            <a onclick="openModal()">Kup teraz</a>
            <h5>Pakiety miesięczne</h5>
            <table class="table" border="1">
                <tr>
                    <th>Ilość zajęć</th>
                    <th>Cena</th>
                    <th>Rabat</th>
                    <th>Wybierz</th>
                </tr>
                <tr>
                    <td>4</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
            </table>
        </div>

        <div class="pricing-plan">
            <h4>Poziom rozszerzony</h4>
            <ul>
                <li><i class="fa fa-money"></i>Cena zajęć: <b>zł</b>.</li>
                <li><i class="fa fa-clock-o"></i>Czas trwania zajęć: <b>50 minut</b>.</li>
            </ul>
            <a onclick="openModal()">Kup teraz</a>
            <h5>Pakiety miesięczne</h5>
            <table class="table" border="1">
                <tr>
                    <th>Ilość zajęć</th>
                    <th>Cena</th>
                    <th>Rabat</th>
                    <th>Wybierz</th>
                </tr>
                <tr>
                    <td>4</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>zł</td>
                    <td>zł</td>
                    <td><a onclick="openModal()"><i class="fa fa-chevron-circle-right"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="opinie" class="opinions">
    <div class="testimonial">
        <h2 class="sub-hero-heading"><span>Opinie</span> naszych użytkowników</h2>
        <div class="slider-wrapper" aria-live="polite">
            <button id="prev-slide" class="slide-button material-symbols-rounded">chevron_left</button>
            <div class="image-list">
                <img src="{% static 'img/widget/opinion1.png' %}" class="image-item" alt="Opinia 1">
                <img src="{% static 'img/widget/opinion2.png' %}" class="image-item" alt="Opinia 2">
                <img src="{% static 'img/widget/opinion3.png' %}" class="image-item" alt="Opinia 3">
                <img src="{% static 'img/widget/opinion4.png' %}" class="image-item" alt="Opinia 4">
                <img src="{% static 'img/widget/opinion5.png' %}" class="image-item" alt="Opinia 5">
            </div>
            <button id="next-slide" class="slide-button material-symbols-rounded">chevron_right</button>
        </div>

        <div class="slider-scrollbar">
            <div class="scrollbar-track">
                <div id="kontakt" class="scrollbar-thumb"></div>
            </div>
        </div>
    </div>
</div>

<section class="contact">
    <h2 class="sub-hero-heading">Kontakt</h2>
    <form id="contact-form" method="post" action="{% url 'schoolweb:user-message' %}" data-url="{% url 'schoolweb:user-message' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="text" name="phone_number" placeholder="Numer telefonu" pattern="[0-9]{9}" title="Numer telefonu musi składać się z 9 cyfr." inputmode="tel" required>
        <textarea name="message" placeholder="Napisz wiadomość . . ." required style="resize: none;"></textarea>

        <div id="success-message">Wiadomość została wysłana!</div>
        <div id="error-message"></div>

        <button type="submit">Wyślij</button>
    </form>
</section>


<script src="{% static 'js/widget-slider.js' %}" defer></script>
<script src="{% static 'js/contact-form.js' %}" defer></script>
{% endblock content %}
