{% extends 'base-widget.html' %}
{% load static %}

{% block description %}
<meta name="description" content="Dołącz do grona korepetytorów SchoolWeb i skorzytaj z możliwości zarabiania
z każdego miejsca na świecie.">
{% endblock description %}

{% block title %}SchoolWeb | Zostań korepetytorem{% endblock title %}

{% block content %}
<script src="{% static 'js/calculator.js' %}" defer></script>
<script src="{% static 'js/faq.js' %}" defer></script>

<div class="hero subjects-main-container">
    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Matematyka</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/2.svg' %}" alt="Matematyka">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Język polski</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/5.svg' %}" alt="Język polski">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Język angielski</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/6.svg' %}" alt="Język angielski">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Fizyka</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/7.svg' %}" alt="Fizyka">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Chemia</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/8.svg' %}" alt="Chemia">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Biologia</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/4.svg' %}" alt="Biologia">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Geografia</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/1.svg' %}" alt="Geografia">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Informatyka</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/9.svg' %}" alt="Informatyka">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Przedsiębiorczość</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/10.svg' %}" alt="Przedsiębiorczość">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Historia</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/11.svg' %}" alt="Historia">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">WOS</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/12.svg' %}" alt="WOS">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">EDB</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/13.svg' %}" alt="EDB">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Technika</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/3.svg' %}" alt="Technika">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Przyroda</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/20.svg' %}" alt="Przyroda">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Religia</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/15.svg' %}" alt="Religia">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Język niemiecki</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/16.svg' %}" alt="Język niemiecki">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Język francuski</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/17.svg' %}" alt="Język francuski">
            </div>
        </a>
    </div>

    <div class="subject-item">
        <a href="{% url 'schoolweb:applyUser' %}">
            <h2 class="sub-hero-heading subject-small">Inne przedmioty</h2>
            <div class="subject-image-container">
                <img src="{% static 'img/icons/18.svg' %}" alt="Inne przedmioty">
            </div>
        </a>
    </div>
</div>
{% endblock content %}
