{% extends 'base-tutoring-zone.html' %}
{% load static %}

{% block navbar %}
{% include 'tutoring-zone/nav-teacher-view.html' %}
{% endblock navbar %}

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'schoolweb:lesson-profile' request.user.pk %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>Cofnij</title>
                            <path d="M13.723 2.286l-13.723 13.714 13.719 13.714
                            1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Informacje o Koncie Bankowym</h3>
                </div>
            </div>
            <div class="layout__body">

                {% if is_editing %}
                    <form class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form__group">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                            </div>
                        {% endfor %}

                        <div class="form__action">
                            <a class="btn btn--link" href="{% url 'schoolweb:bank-information' %}">Anuluj</a>
                            <button class="btn btn--link" type="submit">Zapisz</button>
                        </div>
                    </form>

                {% else %}
                    {% if bank_info %}
                        <div class="bank-info-card">
                            <p><strong>Numer karty</strong> {{ bank_info.card_number }}</p>
                            <p><strong>CVV</strong> {{ bank_info.cvv }}</p>
                            <p><strong>Imię i nazwisko</strong> {{ bank_info.cardholder_name }}</p>
                            <p><strong>Data wygaśnięcia</strong> {{ bank_info.expiration_date|date:"m/Y" }}</p>
                        </div>
                    {% else %}
                        <div class="no-bank-info">
                            <p>Brak zapisanych informacji o koncie bankowym.</p>
                        </div>
                    {% endif %}
                    <a href="?edit=true" class="btn btn--link">Edytuj</a>
                {% endif %}

            </div>
        </div>
    </div>
</main>
{% endblock content %}
