{% extends 'base-tutoring-zone.html' %}

{% load static %}

{% block navbar %}
  {% if is_teacher %}
    {% include 'tutoring-zone/nav-teacher-view.html' %}
  {% elif is_student %}
    {% include 'tutoring-zone/nav-student-view.html' %}
  {% endif %}
{% endblock navbar %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          {% if is_teacher %}
            <a href="{% url 'schoolweb:teacherPage' %}">
          {% elif is_student %}
            <a href="{% url 'schoolweb:studentPage' %}">
          {% endif %}
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>Cofnij</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Twoje kursy</h3>
        </div>
      </div>

      <div class="topics-page layout__body">
        <ul class="topics__list">
          <li>
            {% if is_teacher %}
              <a href="{% url 'schoolweb:teacherPage' %}" class="topic-link {% if not request.GET.q %}active{% endif %}">
            {% elif is_student %}
              <a href="{% url 'schoolweb:studentPage' %}" class="topic-link {% if not request.GET.q %}active{% endif %}">
            {% endif %}
                <div>
                    <img src="{% static 'img/icons/5_ZZWRR5G.svg' %}"/>
                    Wszystkie
                </div>
                <span>{{ courses.count }}</span>
            </a>
          </li>

          {% for course in courses %}
          <li>
            {% if is_teacher %}
              <a href="{% url 'schoolweb:teacherPage' %}?q={{ course.name }}" class="topic-link {% if request.GET.q == course.name %}active{% endif %}">
            {% elif is_student %}
              <a href="{% url 'schoolweb:studentPage' %}?q={{ course.name }}" class="topic-link {% if request.GET.q == course.name %}active{% endif %}">
            {% endif %}
                <div>
                    <img src="{% static 'img/icons/5.svg' %}"/>
                    {% if is_teacher %}
                      {{ course.name }}
                    {% elif is_student %}
                      {{ course.student }}
                    {% endif %}
                </div>
                <span>{{ course.lesson_set.all.count }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
