{% load static %}
<div class="topics">
  <div class="topics__header">
    <h2>Twoje kursy</h2>
  </div>
  <ul class="topics__list">
    <li>
      <a href="{% url 'schoolweb:teacherPage' %}" class="topic-link {% if not request.GET.q %}active{% endif %}">
          <div>
              <img src="{% static 'img/icons/5_ZZWRR5G.svg' %}"/>
              Wszystkie
          </div>
          <span>{{courses.count}}</span>
      </a>
    </li>

    {% for course in courses %}
    <li>
      <a href="{% url 'schoolweb:teacherPage' %}?q={{course.name}}" class="topic-link {% if request.GET.q == course.name %}active{% endif %}">
          <div>
              <img src="{% static 'img/icons/5_ZZWRR5G.svg' %}"/>
              {{course.name}}
          </div>
          <span>{{course.lesson_set.all.count}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a class="btn btn--link" href="{% url 'schoolweb:courses-tutoring-zone' %}">
    Więcej
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <title>Przewiń w dół</title>
      <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
  </a>
</div>
