{% extends 'base-tutoring-zone.html' %}
{% load static %}

{% block navbar %}
  {% include navbar_template %}
{% endblock navbar %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">

    {% include courses_component %}
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>@{{user.username}}</h3>
          <p>{{user.first_name}} {{user.last_name}}</p>
          {% if request.user == user %}
            <a href="{% url 'schoolweb:update-user-lessons' %}" class="btn btn--main btn--pill">Ustawienia</a>
          {% endif %}
          {% if request.user == user and is_teacher %}
            <a href="{% url 'schoolweb:bank-information' %}" class="btn btn--main btn--pill">Dane bankowe</a>
          {% endif %}
          {% if request.user == user and is_teacher %}
            <a href="{% url 'schoolweb:earnings-pdf' %}" class="btn btn--main btn--pill">Plik PDF z dochodami</a>
          {% endif %}
        </div>

        <div class="profile__about">
            <h3>Punkty w tym miesiącu</h3>
            <div class="profile__points-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" class="star-icon">
                    <path d="M12 .587l3.668 7.568L24 9.764l-6 5.847L19.336 24 12 19.941 4.664 24 6 15.611 0 9.764l8.332-1.609L12 .587z"/>
                </svg>
                <div class="profile__points">{{ user.points }} pkt.</div>
            </div>
        </div>

        {% if request.user == user and is_teacher %}
            <div class="profile__about">
                <h3>Twój obecny miesięczny bonus:</h3>
                <div class="profile__bonus">
                    {{ user.lesson_stats.month_bonus }} zł
                </div>
               <span>Ta sekcja NIE będzie widoczna przez ucznia</span>
            </div>

            <div class="profile__about">
                <h3>Twój obecny miesięczny bonus z poleceń:</h3>
                <div class="profile__bonus">
                    {{ user.lesson_stats.month_referral_bonus }} zł
                </div>
               <span>Ta sekcja NIE będzie widoczna przez ucznia</span>
            </div>
        {% endif %}

        <div class="profile__about">
          <h3>O mnie</h3>
          <p>{{user.bio}}</p>
          {% if request.user == user and is_teacher %}
          <span>Ta sekcja będzie widoczna przez ucznia</span>
          {% endif %}
        </div>

        <div class="profile__about">
          <h3>Zainteresowania</h3>
          <p>{{ user.interests }}</p>
          {% if request.user == user and is_teacher %}
          <span>Ta sekcja będzie widoczna przez ucznia</span>
          {% endif %}
        </div>

        {% if request.user == user and is_teacher %}
        <div class="profile__about">
          <h3>Przychody</h3>
          <div class="animated-progress1">
            <p><i>W tym miesiącu</i></p>
            <h4>{{ month_earnings }} zł</h4>
            <canvas id="monthEarningsChart" width="400" height="200"></canvas>
          </div>
          <div class="animated-progress2">
            <p><i>Ogólne</i></p>
            <h4>{{ all_earnings }} zł</h4>
            <canvas id="allEarningsChart" width="400" height="200"></canvas>
          </div>
          <span>Ta sekcja NIE będzie widoczna przez ucznia</span>
        </div>
        {% endif %}

        {% if request.user == user and not is_teacher or request.user != user and is_teacher %}
        <div class="profile__about">
          <div class="info-box">
            <h3>Liczba zajęć do wykorzystania w bieżącym pakiecie</h3>
            <p class="highlight">{{ package }}</p>
          </div>
        </div>

        <div class="profile__about">
          <div class="info-box">
            <h3>Liczba wykorzystanych zajęć</h3>
            <p class="highlight">{{ all_package }}</p>
          </div>
        </div>
        {% endif %}

       <div class="profile__about">
          <h3>Kod poleceń</h3>
          <p>{{ user.referral_code }}</p>
          {% if request.user == user %}
          <span>Ta sekcja NIE będzie widoczna przez nikogo</span>
          {% endif %}
      </div>

      {% if request.user == user %}
      <div class="profile__about">
        <h3>Twoje kursy</h3>
        <div class="course-cards">
          {% for course in courses %}
            <div class="course-card">
              <div class="lesson-count">
                  <p>{{ course.get_lessons_with_feedback_count }} lekcji</p>
              </div>

              {% if is_teacher %}
              <a href="{% url 'schoolweb:teacherPage' %}?q={{course.name}}" class="course-link">
                <h3>{{ course.name }}</h3>
                <h4 class="type">{{ course.get_course_type_display }}</h4>
              </a>
              {% else %}
              <a href="{% url 'schoolweb:studentPage' %}?q={{course.name}}" class="course-link">
                <h3>{{ course.name }}</h3>
                <h4 class="type">{{ course.get_course_type_display }}</h4>
              </a>
              {% endif %}

              <ul>
                {% for student in course.students.all %}
                  <li class="student-item">
                    <img src="{{ student.avatar.url }}" alt="Profile Picture" class="student-avatar">
                    <div class="student-info">
                      <div>{{ student.first_name }} {{ student.last_name }}</div>
                      {% if course.course_type == 'basic' %}
                        <div class="lesson-badge">Dostępne lekcje: {{ student.lesson_stats.lessons }}</div>
                      {% elif course.course_type == 'intermediate' %}
                        <div class="lesson-badge">Dostępne lekcje: {{ student.lesson_stats.lessons_intermediate }}</div>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if request.user == user and is_teacher %}
        <div class="profile__about">
          <h3>Więcej opcji</h3>
          <a href="{% url 'schoolweb:resignation' %}" class="btn btn--link">Rezygnacja</a>
        </div>
      {% endif %}

      </div>
    </div>

    {% include 'tutoring-zone/activity-component-lessons.html' %}
  </div>
</main>

<!-- Add this script tag to include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var monthEarnings = {{ month_earnings }};
  var allEarnings = {{ all_earnings }};
  var monthBonus = {{ lesson_stats.month_bonus }};
  var allBonus = {{ lesson_stats.all_bonus }};
  var monthReferralBonus = {{ lesson_stats.month_referral_bonus }};
  var allReferralBonus = {{ lesson_stats.all_referral_bonus }};

  var monthBonusQuantity = monthBonus / 50;
  var allBonusQuantity = allBonus / 50;
  var monthReferralBonusQuantity = monthReferralBonus / 50;
  var allReferralBonusQuantity = allReferralBonus / 50;

  var monthEarningsChart = new Chart(document.getElementById('monthEarningsChart'), {
    type: 'bar',
    data: {
      labels: ['Miesiąc'],
      datasets: [{
        label: 'Miesięczne przychody',
        data: [monthEarnings],
        backgroundColor: 'rgba(46, 204, 113, 0.5)',
      }],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          max: 5000,
          ticks: {
            callback: function (value, index, values) {
              return value.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });
            },
          },
        },
      },
      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var label = context.dataset.label || '';
              if (label) {
                label += ': ';
              }
              var totalLessons = {{ lesson_stats.lessons }} + {{ lesson_stats.lessons_intermediate }};
              var tooltipText = label + context.parsed.y.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });

              return tooltipText;
            },
            afterLabel: function (context) {
              var bonusText = 'Miesięczny bonus: ' + monthBonus.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });
              var referralBonusText = 'Miesięczny bonus z poleceń: ' + monthReferralBonus.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });
              var lessonsInfo1 = 'Lekcje przeprowadzone: ' + ({{ lesson_stats.lessons }} + {{ lesson_stats.lessons_intermediate }});
              var lessonsInfo2 = 'Lekcje opuszczone przez ucznia: {{ lesson_stats.break_lessons }}';
              var lessonsInfo3 = 'Lekcje opuszczone przez korepetytora: {{ lesson_stats.missed_lessons }}';

              return [bonusText, referralBonusText, lessonsInfo1, lessonsInfo2, lessonsInfo3];
            }
          },
          displayColors: false,
          bodyFont: { size: 14 },
        },
      },
    },
  });

  var allEarningsChart = new Chart(document.getElementById('allEarningsChart'), {
    type: 'bar',
    data: {
      labels: ['Ogólnie'],
      datasets: [{
        label: 'Ogólne przychody',
        data: [allEarnings],
        backgroundColor: 'rgba(255, 99, 132, 0.5)',
      }],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          max: 10000,
          ticks: {
            callback: function (value, index, values) {
              return value.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });
            },
          },
        },
      },
      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              var label = context.dataset.label || '';
              if (label) {
                label += ': ';
              }
              var totalLessonsMonth = {{ lesson_stats.all_lessons }} + {{ lesson_stats.all_lessons_intermediate }};
              var tooltipText = label + context.parsed.y.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });

              return tooltipText;
            },
            afterLabel: function (context) {

              var bonusText = 'Ogólny bonus: ' + allBonus.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });
              var referralBonusText = 'Ogólny bonus z poleceń: ' + allReferralBonus.toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' });

              var lessonsInfo1 = 'Lekcje przeprowadzone: ' + ({{ lesson_stats.all_lessons }} + {{ lesson_stats.all_lessons_intermediate }});
              var lessonsInfo2 = 'Lekcje opuszczone przez ucznia: {{ lesson_stats.all_break_lessons }}';
              var lessonsInfo3 = 'Lekcje opuszczone przez korepetytora: {{ lesson_stats.all_missed_lessons }}';

              return [bonusText, referralBonusText, lessonsInfo1, lessonsInfo2, lessonsInfo3];
            }
          },
          displayColors: false,
          bodyFont: { size: 14 },
        },
      },
    },
  });
</script>

{% endblock content %}
