{% extends 'base-tutoring-zone.html' %}
{% load static %}

{% block navbar %}
  {% include 'tutoring-zone/nav-teacher-view.html' %}
{% endblock %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="javascript:window.history.back()">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 32 32">
                  <title>Cofnij</title>
                  <path d="M13.723 2.286l-13.723 13.714 13.719 13.714
                  1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                  </path>
              </svg>
          </a>
          <h1>Zaznacz swoją dostępność</h1>
        </div>
      </div>
      <div class="layout__body">
        <form method="post" id="availabilityForm">
          {% csrf_token %}
          <div class="form-day">
              <label for="{{ form.day.id_for_label }}" class="day-label">Wybierz dzień: </label>
              {{ form.day }}
          </div>
          <div class="form-group" id="{{ form.hour_6_7.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_6_7.name }}" style="display: none;">
            <label class="hour-label">6:00 - 7:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_7_8.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_7_8.name }}" style="display: none;">
            <label class="hour-label">7:00 - 8:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_8_9.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_8_9.name }}" style="display: none;">
            <label class="hour-label">8:00 - 9:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_9_10.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_9_10.name }}" style="display: none;">
            <label class="hour-label">9:00 - 10:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_10_11.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_10_11.name }}" style="display: none;">
            <label class="hour-label">10:00 - 11:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_11_12.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_11_12.name }}" style="display: none;">
            <label class="hour-label">11:00 - 12:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_12_13.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_12_13.name }}" style="display: none;">
            <label class="hour-label">12:00 - 13:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_13_14.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_13_14.name }}" style="display: none;">
            <label class="hour-label">13:00 - 14:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_14_15.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_14_15.name }}" style="display: none;">
            <label class="hour-label">14:00 - 15:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_15_16.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_15_16.name }}" style="display: none;">
            <label class="hour-label">15:00 - 16:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_16_17.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_16_17.name }}" style="display: none;">
            <label class="hour-label">16:00 - 17:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_17_18.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_17_18.name }}" style="display: none;">
            <label class="hour-label">17:00 - 18:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_18_19.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_18_19.name }}" style="display: none;">
            <label class="hour-label">18:00 - 19:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_19_20.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_19_20.name }}" style="display: none;">
            <label class="hour-label">19:00 - 20:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_20_21.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_20_21.name }}" style="display: none;">
            <label class="hour-label">20:00 - 21:00</label>
          </div>
          <div class="form-group" id="{{ form.hour_21_22.id_for_label }}">
            <input type="checkbox" name="{{ form.hour_21_22.name }}" style="display: none;">
            <label class="hour-label">21:00 - 22:00</label>
          </div>
          *Każdy dzień musi zostać zapisany osobno
           <div class="form__action" style="margin-top:15px;">
            <a class="btn btn--main" href="{{ request.META.HTTP_REFERER }}">Anuluj</a>
            <button class="btn btn--main" type="submit">Zatwierdź</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<style>
  .form-day {
    margin-bottom: 20px;
    text-align: center;
}

.day-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.form-group {
    margin-top: 5px;
    border: 1px solid #808080;
    text-align: center;
    color: #000;
    background: #FFF;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 0;
}

.form-group.clicked {
    background: #E59DFF;
}

.form-group:hover{
    background: #F5DDFF;
    transition: 0.3s ease;
    cursor: pointer;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('availabilityForm');
    const dateField = form.querySelector('#id_day');
    const checkboxes = form.querySelectorAll('input[type="checkbox"]');
    const formGroups = form.querySelectorAll('.form-group');

    dateField.addEventListener('change', function () {
      const selectedDate = dateField.value;
      const url = `/get_availability/${selectedDate}/`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          checkboxes.forEach(checkbox => {
            const hourField = checkbox.name;
            checkbox.checked = data[hourField];
            checkbox.parentNode.classList.toggle('previously-checked', checkbox.checked);
          });

          formGroups.forEach(group => {
            const checkbox = group.querySelector('input[type="checkbox"]');
            group.classList.toggle('clicked', checkbox.checked);
          });
        })
        .catch(error => console.error('Error fetching availability:', error));
    });

    formGroups.forEach(group => {
      const checkbox = group.querySelector('input[type="checkbox"]');
      group.addEventListener('click', function () {
        checkbox.checked = !checkbox.checked;
        group.classList.toggle('clicked', checkbox.checked);
      });
    });

    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('click', function (event) {
        event.preventDefault();
      });
    });
  });
</script>
{% endblock %}
