{% extends 'base-tutoring-zone.html' %}
{% load static %}

{% block navbar %}
{% include 'tutoring-zone/nav-student-view.html' %}
{% endblock navbar %}

{% block content %}
<main class="layout layout--3">
  <div class="container">
    {% include 'tutoring-zone/courses-component-students.html' %}

    <div class="roomList">
      <div class="mobile-menu">
        <form action="{% url 'schoolweb:studentPage' %}" method="GET" class="header__search">
          <label>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>Szukaj</title>
              <path d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12
              5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12
              22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z" ></path>
            </svg>
            <input name="q" placeholder="Wyszukaj zajęć" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'schoolweb:courses-tutoring-zone' %}">Twoje kursy</a>
          <a class="btn btn--main btn--pill" href="{% url 'schoolweb:activity-tutoring-zone' %}">Ostatnie aktywności</a>
        </div>
      </div>

      {% if new_student %}
        {% if not new_student.is_selected %}
          <div id="notification" class="notification notification--warning">
            <button class="notification__close" onclick="closeNotification()">×</button>
            <h3>Trwa szukanie korepetytora</h3>
            <p>Prosimy o cierpliwość, obecnie szukamy dla Ciebie odpowiedniego korepetytora. Powiadomimy Cię, gdy proces zostanie zakończony.</p>
          </div>
        {% else %}
          <div id="notification-success" class="notification notification--success">
            <button class="notification__close" onclick="closeNotification('notification-success')">×</button>
            <h3>Znaleziono korepetytora</h3>
            <p>Twój korepetytor został już przypisany i utworzono kurs, na którym możesz umawiać się na zajęcia.</p>
          </div>
        {% endif %}
      {% endif %}

      <div class="roomList__header">
        <div>
          <h2>Twoje lekcje</h2>
          <p>{{post_count}} lekcji w tym kursie</p>
        </div>

        <a class="btn btn--main" href="{% url 'schoolweb:find_tutor' %}" title="Znajdź korepetycje">
          Znajdź korepetycje
        </a>
      </div>

      {% if courses.count == 0 %}
        <div class="no-courses-info">
          <h2 class="welcome-title">Witaj w SchoolWeb</h2>
          <p>Cieszymy się, że dołączyłeś/aś do naszej platformy jako nowy uczeń. Życzymy Ci powodzenia w nauce
          na SchoolWeb!<br><br> Jeśli napotkasz jakiekolwiek problemy lub potrzebujesz pomocy, jesteśmy dostępni,
          aby Ci pomóc. Skontaktuj się z nami w razie potrzeby.<br><br> Poniżej znajdziesz podstawowe instrukcje,
            które pomogą Ci lepiej korzystać z naszej platformy.</p>
          <ul class="info-list">
            <li>
              <img src="{% static 'img/tutoring-zone/instruction2.png' %}" alt="Ikona 2" class="icon">
              <span>Przejdź do zakładki "TWOJE KURSY", gdzie znajdziesz listę kursów, których jesteś korepetytorem.</span>
            </li>
            <hr>
            <li>
              <img src="{% static 'img/tutoring-zone/instruction3.png' %}" alt="Ikona 3" class="icon">
              <span>Ostatnie aktywności związane z Twoimi kursami znajdziesz w zakładce "OSTATNIE AKTYWNOŚCI".</span>
            </li>
            <hr>
            <li>
              <img src="{% static 'img/tutoring-zone/instruction4.png' %}" alt="Ikona 4" class="icon">
              <span>W pasku nawigacji możesz wyszukać interesującą Cię lekcję.</span>
            </li>
            <hr>
            <li>
              <img src="{% static 'img/tutoring-zone/instruction5.png' %}" alt="Ikona 5" class="icon">
              <span>Klikając logo SchoolWeb wrócisz na stronę główną.</span>
            </li>
            <hr>
            <li>
              <img src="{% static 'img/tutoring-zone/instruction6.png' %}" alt="Ikona 6" class="icon">
              <span>Klikając w swoją nazwę na pasku nawigacji przejdziesz do swojego profilu.</span>
            </li>
            <hr>
            <li>
              <img src="{% static 'img/tutoring-zone/instruction8.png' %}" alt="Ikona 8" class="icon">
              <span>Klikając "Ustawiena" na swoim profilu będziesz w stanie edytować profil.</span>
            </li>
            <hr>
            <li>
              <img src="{% static 'img/tutoring-zone/instruction11.png' %}" alt="Ikona 11" class="icon">
              <span>Klikając "Znajdź korepetycje" masz możliwość znaleźć korepetytora z interesującego Cię przedmiotu.</span>
            </li>
          </ul>
          <p><i>Informacja zniknie, gdy zostaniesz dodany/a do swojego pierwszego kursu.</i></p>
        </div>
       {% endif %}

      {% include 'tutoring-zone/feed-component-students.html' %}
    </div>

    {% include 'tutoring-zone/activity-component-lessons.html' %}
  </div>
</main>

<script src="{% static 'js/notification.js' %}"></script>
{% endblock %}
